* {
    box-sizing: border-box;
}

body {
    background-color: steelblue;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;

}

.btn {
    background-color: blue;
    border: none;
    border-radius: 5px;
    color: white;
    margin: 20px;
    padding: 10px 25px;
    font-size: 20px;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.8;
}